@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
body{
    background-image: url(chipps.png);
    text-shadow: 4px 4px 4px #aaa;
    font-family: 'Indie Flower', cursive;
    
    
}
#A:hover{
border: 2px;
width:81px;
height: 50x;
background-image:url(chippsblack.png);
border-radius: 10px;


}
#A{
    border: 2px;
    width:81px;
    height: 50x;
    border-radius: 10px;
    

}
#B{
    border: 2px;
    width:210px;
    height: 50x;
    ;
    border-radius: 10px;

}
#B:hover{
border: 2px;
width:210px;
height: 50x;
background-image:url(chippsblack.png);
border-radius: 10px;

}
#C{
    border: 2px;
    width:257px;
    height: 50x;
    ;
    border-radius: 10px;

}
#C:hover{
border: 2px;
width:257px;
height: 50x;
background-image:url(chippsblack.png);
border-radius: 10px;
}


#image{
    margin-top:45px;
    margin-left:625px;
    margin-bottom: 45px;
    text-align: center;
    border:1px solid #343a40;
    border-radius: 10px;
    width:1250px;
    height: 1500px;
    border-width: 10px;
    background-image: url(chippsblack.png);
    font-size: 20px;
        
}


    







    





