body{
    background-image: url(chipps.png);
    font-family: 'Lobster', cursive;
    text-shadow: 4px 4px 4px #aaa;
}
#A:hover{
border: 2px;
width:81px;
height: 50x;
background-image:url(chippsblack.png);
border-radius: 10px;


}
#A{
    border: 2px;
    width:81px;
    height: 50x;
    ;
    border-radius: 10px;
    

}
#B{
    border: 2px;
    width:210px;
    height: 50x;
    ;
    border-radius: 10px;

}
#B:hover{
border: 2px;
width:210px;
height: 50x;
background-image:url(chippsblack.png);
border-radius: 10px;

}
#C{
    border: 2px;
    width:257px;
    height: 50x;
    ;
    border-radius: 10px;

}
#C:hover{
border: 2px;
width:257px;
height: 50x;
background-image:url(chippsblack.png);
border-radius: 10px;
}
#image{
    border: 3px solid black;
    width:500px;
    height: 700px;
    border-radius: 10px;
    background-image: url(chippsblack.png);
    
    
}





